* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.buttons-main {
    display: flex;
    flex-direction: row;
}

.div-collapase {
    width: 100%;
    height: 100%;
    padding-top: 3rem;
}

#bnt-adicionais {
    background-color: #3498db;
    border-color: #3498db;
}

.el-button--danger {
    background-color: #007BFF;
    border-color: #007BFF;
    position: relative;
}

.el-button--danger:hover {
    background-color: #97C6F8;
    border-color: #97C6F8;
}

#bnt-adicionais:hover {
    background-color: #97C6F8;
    border-color: #97C6F8;
}

.el-button--small {
    width: 50%;
    font-size: 0.90rem;
}

.pi-pencil {
    position: absolute;
    left: 7rem;
    font-size: 0.80rem;
}

.total-produtos {
    position: absolute;
    top: 5rem;
    left: 84rem;
    z-index: 2;
    font-size: 0.80rem;
    font-weight: 600;
    color: #606266;

}

hr {
    margin: 10px;
}

::v-deep(.p-button:disabled ) {
    display: none; 
}

::v-deep(.p-button ) {
    font-size: 0.60rem; 
}

@media (max-width: 480px) {

    .table-main {
        padding-top: 300px;
        width: 100%;
        overflow: auto;
    }
    
    .el-button--small {
        width: 50%;
        font-size: 0.70rem;
        position: relative;
    }
    
    ::v-deep(.el-input__wrapper) {
        font-size: 0.70rem;
        cursor: pointer;
    }

    ::v-deep(.el-table__header-wrapper) {
        font-size: 0.60rem;
        white-space: nowrap;
        overflow: auto;
    }

    ::v-deep(.el-table__body-wrapper ) {
        font-size: 0.55rem;
        overflow-X: auto !important;
    }

    ::v-deep(.el-table__body ) {
        table-layout: auto !important;
        overflow: auto !important;
    }
     
    .pi-pencil {
        position: absolute;
        left: 3.77rem;
        font-size: 0.65rem;
    }

    .total-produtos {
        position: absolute;
        top: 5rem;
        left: 4rem;
        z-index: 2;
        font-size: 0.80rem;
        font-weight: 600;
        color: #606266;    
    }
}
